<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro do TCC</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>Título</td>
        <td>Ano</td>
        <td>Semestre</td>
        <td>Alunos</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tcc: ${listaTcc}">
        <td th:text="${tcc.titulo}"></td>
        <td th:text="${tcc.ano}"></td>
        <td th:text="${tcc.semestre}"></td>
        <td>
            <li th:each="a: ${tcc.alunosGrupo}"
                th:text="${a.nome}"></li>
        </td>
    </tr>
    </tbody>
</table>

<form method="POST" th:object="${tcc}" th:action="@{/cadastroTcc}">
    Título: <input type="text" name="titulo" th:field="*{titulo}">
    <span class="validationError" h:if="${#fields.hasErrors('titulo')}"
          th:errors="*{titulo}" style="color:red"></span><br>
    Ano: <input type="text" name="ano" th:field="*{ano}">
    <span class="validationError" th:if="${#fields.hasErrors('ano')}"
          th:errors="*{ano}" style="color:red"></span><br>
    Semestre: <input type="text" name="semestre" th:field="*{semestre}">
    <span class="validationError" th:if="${#fields.hasErrors('semestre')}"
          th:errors="*{semestre}" style="color:#006ce7"></span><br>
    Alunos:
    <span class="validationError" th:if="${#fields.hasErrors('alunosGrupo')}"
          th:errors="*{alunosGrupo}" style="color:red"></span><br>
    <select name="alunosGrupo" th:field="*{alunosGrupo}" multiple>
    </select><br>
    <input type="submit" value="Salvar"></input>
</form>
</body>
</html>